@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@100;400;600&display=swap");
/* font-family: 'Montserrat', sans-serif; */
html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  background-color: #b90470;
  height: 3.1rem;
  justify-content: space-around;
  align-items: center;
}
.infoP {
  display: flex;
}
.infoP p {
  font-size: 0.75rem;
  padding-right: 2.75rem;
  color: #ffffff;
}
.iconsDiv i {
  padding-right: 1rem;
}

/* section 1 */
.sect1 {
  background-image: url("../images/image1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}
nav {
  position: absolute;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(123, 123, 123, 0);
  top: 2rem;
  left: 13rem;
  right: 13rem;
  max-width: 69rem;
  max-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks ul {
  display: flex;
  padding: 1.25rem;
}
.navLinks ul li {
  padding: 1.25rem;
}
.navLinks ul li a {
  font-size: 1rem;
  font-weight: 400px;
  color: #525252;
  cursor: pointer;
}
.contactBtn {
  background-color: #b90470;
  padding: 0.75rem 2.5rem;
  color: #ffffff;
  font-weight: 600px;
}
.secondPart {
  display: flex;
  flex-direction: column;
  padding: 12rem 10rem;
  color: #ffffff;
}
.secondPart h3 {
  font-size: 6.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}
.secondPart > p:nth-child(1) {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: start;
}
.secondPart > p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.aboutBtn {
  background-color: #b90470;
  padding: 0.75rem 2.5rem;
  margin-top: 3rem;
  color: #ffffff;
  font-weight: 600px;
  width: 14rem;
  text-align: center;
  border: none;
}
.ndImg {
  position: absolute;
  bottom: 3rem;
  right: 10rem;
}
.ndImg img {
  padding: 0 0.75rem 0;
}
/*info section  */
.infoSect {
  color: black;
  background: #ffffff;
}
.aboutPart {
  display: flex;
  justify-content: space-around;
}
.aboutPart > div {
  padding-bottom: 5rem;
}
.aboutPart > div:nth-child(1) {
  text-align: start;
  padding-top: 8rem;
  margin-right: 15rem;
}
.aboutPart > div:nth-child(1) {
  color: #b90470;
  font-weight: 400px;
}
.aboutPart > div:nth-child(2) {
  width: 34.3rem;
  padding-top: 10rem;
}
.aboutPart h3 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  color: #343a3e;
}
.lorryImg {
  margin: auto;
  width: 100%;
  text-align: center;
}
.infoSect > div:nth-child(3) {
  padding: 3rem 18rem;
}
/* transportation Section */
.transportationSect {
  padding: 3rem;
  background: #ffffff;
}
.transportationSect > div:nth-child(1) p {
  color: #b90470;
}
.transportationSect > div:nth-child(1) h3 {
  font-size: 3rem;
}
.transportationDiv {
  width: 19rem;
  height: 28rem;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.25);
}
.transportationDiv>div:nth-child(1) img{
  width: 100% !important;
}
.transportationDiv > div:nth-child(2) {
  padding: 1rem;
}
.transportationDiv > div:nth-child(2) p {
  font-size: 0.85rem;
}
.transportationDiv h4 {
  color: #b90470;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
.transportationContDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.transportationContDiv > div:nth-child(1) {
  margin-top: 10em;
}
.transportationContDiv > div:nth-child(2) {
  margin-top: 7rem;
}
.transportationContDiv > div:nth-child(3) {
  margin-top: 4rem;
}
.reverseContDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-items: flex-end; */
  padding: 0 5rem 0;
  margin-top: -200px;
  /* gap: 28px ;  */
  padding: 0 3rem 0;
}
.reverseContDiv > div:nth-child(1) {
  margin-top: 10rem;
}
.reverseContDiv > div:nth-child(2) {
  margin-top: 7rem;
}
.reverseContDiv > div:nth-child(3) {
  margin-top: 4rem;
}
.reverseContDiv > div:nth-child(4) {
  margin-top: 0.75rem;
}
.reverseSect {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.reverseContDiv>div:nth-child(1){
  visibility: hidden;
}
/* Mission Section */
.missionSection {
  background: url("../images/Rectangle20.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 68.75rem;
  width: 100%;
  padding-top: 30rem;
}
.missionSection > div:nth-child(1) {
  color: #ffffff;
  padding: 0rem 5.5rem;
}
.missionSection > div:nth-child(1) h4 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
.missionSection > div:nth-child(1) p {
  font-size: 0.75rem;
}
.missionContDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 5rem;
}

.missionDiv {
  width: 27rem;
  height: 28rem;
  background: #ffffff;
  padding: 3rem;
  box-shadow: 0px 0px 1rem #920a39;
  position: relative;
}
.missionDiv h5 {
  color: #b90470;
  font-size: 1.25rem;
}
.missionDiv img {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}
/* Team Section */
.temaSection {
  background: #ffffff;
}
.temaSection > div:nth-child(2) {
  text-align: center;
}
.temaContDiv {
  display: flex;
  justify-content: space-around;
  padding: 4rem 2rem;
}
.temaContDiv > div:nth-child(1) {
}
.temaContDiv > div:nth-child(1) p {
  color: #b90470;
}
.temaContDiv > div:nth-child(1) h5 {
  font-size: 3rem;
}
.temaContDiv > div:nth-child(2) {
  padding-top: 3rem;
  max-width: 34rem;
  color: #343a3e;
}
/* Last section */
.lastSection {
  background-image: url("../images/Rectangle24.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  width: 100%;
  position: relative;
  color: #b90470;
  display: flex;
  justify-content: center;
  position: relative;
}
.lastSectContDiv {
  position: absolute;
  margin-top: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  width: 70rem;
  padding: 4rem;
  font-size: 0.75rem;
}
.lastLinks ul li {
  padding-bottom: 0.5rem;
}
.lastLinks ul li a {
  color: #b90470;
  padding-bottom: 2.5rem;
}
.lastIcon {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
.lastIcon i {
  padding: 0.5rem;
  color: #b90470;
}
.contactInfo p {
  padding-bottom: 0.75rem;
}
.shushaImg {
  margin-bottom: 5rem;
  padding-right: 5rem;
}

.transparentPict {
  background: url("../images/Group75.png");
  z-index: 4;
  position: absolute;
  bottom: -3rem;
}
/* Contact Us section */
.contactUsSect {
  display: flex;
  justify-content: start;
  padding: 8rem 5rem;
}
.contactUsSect > div {
  max-width: 29rem;
}
.contactUsSect > div p:nth-child(1) {
  color: #b90470;
  font-size: 00.75rem;
}
.contactUsSect > div p:nth-child(2) {
  color: #343a3e;
}
.contactUsSect > div h5 {
  color: #343a3e;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  max-height: 28.5rem;
  color: #000000;
  margin-top: -16.8rem;
  margin-left: 37.5rem;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.25);
  padding: 5rem;
  border-radius: 1px;
}
.frameDiv > div:nth-child(1) p {
  padding: 0.75rem;
}
.frameDiv > div:nth-child(2) i {
  padding: 2rem 0.75rem 0.75rem;
  font-size: 1.25rem;
}

footer {
  /* height: 3rem; */
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  color: #b90470;
  font-size: 0.75rem;
  width: 100%;
}
