@media only screen and (max-width: 600px) {
  html {
    font-size: 7.5px;
    width: 100% !important;
  }
  header .infoP p {
    font-size: 1rem;
    font-weight: 400;
  }
  .sect1 nav {
    padding: 0 10rem 0;
    left: 5rem;
    right: 5rem;
  }
  .sect1 nav div > img {
    width: 12rem;
  }
  .sect1 .navLinks {
    width: 100%;
    padding: 2rem;
  }
  /* secondPart */
  .secondPart p {
    font-size: 1.25rem;
  }
  .secondPart button {
    padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  }
  .infoSect .aboutPart {
    display: flex;
    justify-content: space-evenly;
  }
  .aboutPart > div:nth-child(1) {
    padding-top: 8rem;
    margin-right: 5rem;
  }
  .lorryImg img {
    margin: 0 auto;
    width: 100%;
  }
  .infoSect > div:nth-child(3) {
    padding: 2rem 10rem;
  }
  /* transportation Section */
  .transportationContDiv{
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 5px;
  }
  .transportationDiv{
    height: 20rem;
  }
 .transportationDiv>div:nth-child(1) img{
    width: 14rem;
 }
 .transportationDiv>div:nth-child(2) h4{
    font-size: 1rem;
 }
 .transportationDiv>div:nth-child(2) p{
  font-size: 0.65rem;
 }
 .reverseSect{
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top:14.5rem ;
 }
 .reverseContDiv{
  width: 100%;
  display: flex;
 }
  /* Mission Section */
  .missionSection > div:nth-child(1) p {
    font-size: 1rem;
  }
  .missionContDiv {
    padding: 2rem;
    gap: 10px;
  }
  .missionDiv {
    padding: 2rem;
  }
  .missionDiv img {
    height: 4rem;
  }
  /* Team Section */
  .temaSection > div:nth-child(2) img {
    width: 100%;
  }
  .temaContDiv {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
  /* Last section */
  .lastSection {
    height: 62.5rem;
  }
  .lastSectContDiv {
    width: 100%;
  }
  /* Contact Us section */
  .contactUsSect {
    padding: 8rem 4rem;
  }
  .contactUsSect > div {
    max-width: 17rem;
  }
  .frameDiv {
    max-width: 30rem;
    max-height: 23.5rem;
    margin-top: -19.8rem;
    margin-left: 29.5rem;
  }
  .transparentPict img{
    width: 100%;
    overflow: hidden;
  }
  footer {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 10px;
    width: 100%;
  }
  header .infoP p {
    font-size: 1rem;
    font-weight: 400;
  }
  .sect1 nav {
    padding: 0 10rem 0;
    left: 2rem;
    right: 2rem;
  }
  .sect1 nav div > img {
    width: 12rem;
  }
  .sect1 .navLinks {
    width: 100%;
    padding: 2rem;
  }
  /* secondPart */
  .secondPart p {
    font-size: 1.25rem;
  }
  .secondPart button {
    padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  }

  .infoSect .aboutPart {
    display: flex;
    justify-content: space-evenly;
  }
  .aboutPart > div:nth-child(1) {
    padding-top: 8rem;
    margin-right: 5rem;
  }
  .lorryImg {
    display: block;
  }
  .lorryImg img {
    width: 100%;
  }
  .infoSect > div:nth-child(3) {
    padding: 2rem 10rem;
  }
  /* transportation Section */
  .transportationContDiv{
    width: 100%;
    display: flex;
    gap: 5px;
  }
  .transportationDiv{
    height: 22rem;
  }
 .transportationDiv>div:nth-child(1) img{
    width: 13.5rem; 
 }
 .transportationDiv>div:nth-child(2) h4{
    font-size: 1rem;
 }
 .transportationDiv>div:nth-child(2) p{
  font-size: 0.65rem;
 }
 .reverseSect{
  width: 100%;
  display: flex;
  margin-top:7.5rem ;
 }
 .reverseContDiv{
  width: 100%;
  display: flex;
  gap: 5px;
 }
  .transparentPict img {
    width: 100%;
  }
  /* Mission Section */
  .missionSection > div:nth-child(1) p {
    font-size: 1rem;
  }
  .missionContDiv {
    padding: 2rem;
    gap: 10px;
  }
  .missionDiv {
    padding: 2rem;
  }
  .missionDiv img {
    height: 4rem;
  }
  /* Team Section */
  .temaSection > div:nth-child(2) img {
    width: 100%;
  }
  .temaContDiv {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
  /* Last section */
  .lastSection {
    height: 62.5rem;
  }
  .lastSectContDiv {
    position: absolute;
    margin-top: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 4rem;
    font-size: 0.75rem;
  }
  .lastLinks ul li {
    padding-bottom: 0.5rem;
  }
  .lastIcon {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }
  .lastIcon i {
    padding: 0.5rem;
    color: #b90470;
  }
  .contactInfo p {
    padding-bottom: 0.75rem;
  }
  .shushaImg {
    margin-bottom: 5rem;
    padding-right: 5rem;
  }
  /* Contact Us section */
  .contactUsSect {
    padding: 8rem 4rem;
  }
  .contactUsSect > div {
    max-width: 17rem;
  }
  .frameDiv {
    max-width: 30rem;
    max-height: 23.5rem;
    margin-top: -19.8rem;
    margin-left: 29.5rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 11px;
    width: 100%;
  }
  header .infoP p {
    font-size: 1rem;
    font-weight: 400;
  }
  .sect1 nav {
    padding: 0 10rem 0;
    left: 5rem;
    right: 5rem;
  }
  .sect1 nav div > img {
    width: 12rem;
  }
  .sect1 .navLinks {
    width: 100%;
    padding: 2rem;
  }
  /* secondPart */
  .secondPart p {
    font-size: 1.25rem;
  }
  .secondPart button {
    padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  }
  .infoSect .aboutPart {
    display: flex;
    justify-content: space-evenly;
  }
  .aboutPart > div:nth-child(1) {
    padding-top: 8rem;
    margin-right: 5rem;
  }
  .lorryImg {
    display: block;
  }
  .lorryImg img {
    width: 100%;
  }
  .infoSect > div:nth-child(3) {
    padding: 2rem 10rem;
  }
  /* transportation Section */
  .transportationContDiv{
    width: 100%;
    display: flex;
    gap: 5px;
  }
  .transportationDiv{
    height: 24rem;
  }
 .transportationDiv>div:nth-child(1) img{
    width: 15.5rem; 
 }
 .transportationDiv>div:nth-child(2) h4{
    font-size: 1.25rem;
 }
 .transportationDiv>div:nth-child(2) p{
  font-size: 0.75rem;
 }
 .reverseSect{
  width: 100%;
  display: flex;
  margin-top:7.5rem ;
 }
 .reverseContDiv{
  width: 100%;
  display: flex;
  gap: 5px;
 }
  .transparentPict img {
    width: 100%;
  }
  /* Mission Section */
  .missionSection > div:nth-child(1) p {
    font-size: 1rem;
  }
  .missionContDiv {
    padding: 2rem;
    gap: 10px;
  }
  .missionDiv {
    padding: 2rem;
  }
  .missionDiv img {
    height: 4rem;
  }
  /* Team Section */
  .temaSection > div:nth-child(2) img{
    width: 100%;
  }
  .temaContDiv {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
  /* Last section */
  .lastSection {
    height: 62.5rem;
  }
  .lastSectContDiv {
    position: absolute;
    margin-top: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 4rem;
    /* margin-left: 5rem; */
    font-size: 0.75rem;
  }
  .lastLinks ul li {
    padding-bottom: 0.5rem;
  }

  .lastIcon {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }

  /* Contact Us section */
  .contactUsSect {
    padding: 8rem 4rem;
  }
  .contactUsSect > div {
    max-width: 17rem;
  }
  .frameDiv {
    max-width: 30rem;
    max-height: 23.5rem;
    margin-top: -19.8rem;
    margin-left: 29.5rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 13px;
    width: 100%;
  }
  header .infoP p {
    font-size: 1rem;
    font-weight: 400;
  }
  .sect1 nav {
    padding: 0 10rem 0;
    left: 7rem;
    right: 7rem;
  }
  .sect1 nav div > img {
    width: 12rem;
  }
  .sect1 .navLinks {
    width: 100%;
    padding: 2rem;
  }
  /* secondPart */
  .secondPart p {
    font-size: 1.25rem;
  }
  .secondPart button {
    padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  }
  .infoSect .aboutPart {
    display: flex;
    justify-content: space-evenly;
  }
  .aboutPart > div:nth-child(1) {
    padding-top: 8rem;
    margin-right: 5rem;
  }
  .lorryImg img {
    width: 100%;
  }
  .infoSect > div:nth-child(3) {
    padding: 2rem 10rem;
  }
  /* transportation Section */
  .transportationContDiv{
    width: 100%;
    display: flex;
    gap: 5px;
  }
  .transportationDiv{
    height: 24rem;
  }
 .transportationDiv>div:nth-child(1) img{
    width: 15.5rem; 
 }
 .transportationDiv>div:nth-child(2) h4{
    font-size: 1.25rem;
 }
 .transportationDiv>div:nth-child(2) p{
  font-size: 0.75rem;
 }
 .reverseSect{
  width: 100%;
  display: flex;
  margin-top:7.5rem ;
 }
 .reverseContDiv{
  width: 100%;
  display: flex;
  gap: 5px;
 }
  /* Mission Section */
  .missionSection > div:nth-child(1) p {
    font-size: 1rem;
  }
  .missionContDiv {
    padding: 2rem;
    gap: 10px;
  }
  .missionDiv {
    padding: 2rem;
  }
  .missionDiv img {
    height: 4rem;
  }
.lorryImg img{
  width: 100%;
}
  /* Team Section */
 .temaSection > div:nth-child(2) {
    width: 100%;
  }
  .temaContDiv {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
  /* Last section */
  .lastSection {
    height: 62.5rem;
  }
  .lastSectContDiv {
    position: absolute;
    margin-top: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 4rem;
    font-size: 0.75rem;
  }
  .lastLinks ul li {
    padding-bottom: 0.5rem;
  }
  .lastIcon {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }
  /* Contact Us section */
  .contactUsSect {
    padding: 8rem 4rem;
  }
  .contactUsSect > div {
    max-width: 17rem;
  }
  .frameDiv {
    max-width: 30rem;
    max-height: 23.5rem;
    margin-top: -19.8rem;
    margin-left: 29.5rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  html {
    font-size: 16px;
    width: 100%;
  }
  header .infoP p {
    font-size: 1rem;
    font-weight: 400;
  }
  .sect1 nav {
    padding: 0 10rem 0;
    left: 9rem;
    right: 9rem;
  }
  .sect1 nav div > img {
    width: 12rem;
  }
  .sect1 .navLinks {
    width: 100%;
    padding: 2rem;
  }
  /* secondPart */
  .secondPart p {
    font-size: 1.25rem;
  }
  .secondPart button {
    padding: 0.75rem 2.5rem 0.75rem 1.75rem;
  }
  .infoSect .aboutPart {
    display: flex;
    justify-content: space-evenly;
  }
  .aboutPart > div:nth-child(1) {
    padding-top: 8rem;
    margin-right: 5rem;
  }
  .lorryImg img {
    width: 100%;
  }
  .infoSect > div:nth-child(3) {
    padding: 2rem 10rem;
  }
  /* transportation Section */
  .transportationContDiv{
    width: 100%;
    display: flex;
    gap: 5px;
  }
  .transportationDiv{
    height: 24rem;
  }
 .transportationDiv>div:nth-child(1) img{
    width: 15.5rem; 
 }
 .transportationDiv>div:nth-child(2) h4{
    font-size: 1.25rem;
 }
 .transportationDiv>div:nth-child(2) p{
  font-size: 0.75rem;
 }
 .reverseSect{
  width: 100%;
  display: flex;
  margin-top:0.5rem ;
 }
 .reverseContDiv{
  width: 100%;
  display: flex;
  gap: 5px;
 }
  /* Mission Section */
  .missionSection > div:nth-child(1) p {
    font-size: 1rem;
  }
  .missionContDiv {
    padding: 2rem;
    gap: 10px;
  }
  .missionDiv {
    padding: 2rem;
  }
  .missionDiv img {
    height: 4rem;
  }
  /* Team Section */
  .temaSection > div:nth-child(2) img {
    width: 100%;
  }
  .temaContDiv {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
  }
  /* Last section */
  .lastSection {
    height: 62.5rem;
  }
  .lastSectContDiv {
    width: 100%;
  }
  .lastLinks ul li {
    padding-bottom: 0.5rem;
  }
  .lastIcon {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
  }
  /* Contact Us section */
  .contactUsSect {
    padding: 8rem 4rem;
  }
  .contactUsSect > div {
    max-width: 17rem;
  }
  .frameDiv {
    max-width: 30rem;
    max-height: 23.5rem;
    margin-top: -19.8rem;
    margin-left: 29.5rem;
  }
  footer {
    font-size: 1rem;
  }
}
